<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzzlew.mapper.UserMapper">

    <insert id="insertUserAuth" useGeneratedKeys="true" keyProperty="id">
        insert into user_auth (user_id, username, account, password, avatar)
        values (#{userId}, #{username}, #{account}, #{password}, #{avatar})
    </insert>

    <select id="selectUserAuthListByUserIdList"
            resultType="com.zzzlew.pojo.entity.UserAuth">
        select user_id, username, avatar from user_auth where user_id in
        <foreach collection="targetUserIdList" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="selectUserInfoById" resultType="com.zzzlew.pojo.entity.UserAuth"
            parameterType="java.lang.Long">
        select user_id, username, avatar, account
        from user_auth
        where user_id = #{userId}
    </select>

</mapper>