<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzzlew.mapper.UserInfoMapper">
    <insert id="insertUserInfo">
        insert into user_info (id, username, account, password, email, phone, gender, avatar,
                               birthday, address)
        values (#{id}, #{username}, #{account}, #{password}, #{email}, #{phone}, #{gender},
                #{avatar},
                #{birthday}, #{address})
    </insert>

    <select id="getByPhoneOrAccount"
            resultType="com.zzzlew.pojo.vo.user.UserSearchVO">
        select u.id, u.username, u.account,
               u.avatar,
               u.gender,
               f.remark,
               u.address,
               case
                   when
                       f.id is not null then 1
                   else 0 end as is_friend
        from user_info u
                 left join friend_relation f on f.user_id = #{ userId } and f.friend_id =
                                                                            u.id
        where u.phone = #{ phone }
    </select>
</mapper>